<!-- <p>header works!</p> -->

<mat-toolbar class="header-container">
    <!-- <span>Jenna Nguyen pawprint jn4gz</span> -->
    <span>TigerTraits</span>
</mat-toolbar>
<nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/quiz">Take the Quiz</a>
    <a routerLink="/profile">My Profile</a>
    <a routerLink="/" class="logout-link">Logout</a>
    <a routerLink="/deleteAccount" class="delete-account-link">Delete Account</a>
</nav>

<!-- testing mat toolbar -->
<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    </button>
</mat-toolbar> -->
