/* pulled css from quiz component */
.start-screen,
.quiz-screen,
.completion-screen,
.results-screen {
    text-align: center;
    margin-top: 10px;
    margin-top: 10px;
}

/* for all gifs */
.gif-container {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    /* border: 2px solid black; */
}
.gif-image {
    width: 100%;
    height: 100%;
}

.button {
    background-color: white;
    width: 150px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    white-space: normal;
}

.question-text {
    max-width: 300px;
    margin: 20px auto; /* centers the text */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center; /* center-align the text inside */
}

/* answer choice button */
.option-button {
    width: 300px;
    height: 85px;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    white-space: normal;
    word-wrap: break-word;
}

.delete-section {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

/* actual styling for results page that renders */
.delete-acc-btn, .delete-confirm-btn, .delete-cancel-btn {
    background-color: #99CECF;
    border: 3px outset #008486;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 16px;
    font-family: 'Comic Neue', 'Comic Sans MS', 'Trebuchet MS', sans-serif;
    box-shadow: 3px 3px #888;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.delete-acc-message {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.delete-acc-btn:hover, .delete-confirm-btn:hover, .delete-cancel-btn:hover {
  background-color: #008486;
  color: #fff;
  transform: scale(1.05);
}

.delete-confirm-btn {
    margin-right: 25px;
}

/* FIX - comp list */
.results-container {
  padding: 1rem;
}
.compatibility-section {
  margin-top: 1rem;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
}
.compatibility-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 150px;
  overflow-y: auto;
}
.compatibility-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  background-color: #f7f7f7;
  border-radius: 4px;
  color: red;
}
.compatibility-item:hover {
  background-color: #e0e0e0;
}
