<!-- <p>quiz works!</p> -->
<!-- <app-header></app-header> -->

<!-- START SCREEN -->
<div *ngIf="viewStep === 'start'" class="start-screen">
  <div class="gif-container">
    <img src="assets/gifs/Test1.gif" alt="GIF" class="gif-image" />
  </div>
  <h2>Ready to find out your Tiger Traits?</h2>
  <button class="button" (click)="viewStep = 'quiz'">Start Quiz</button>
</div>

<!-- QUIZ SCREEN -->
<div *ngIf="viewStep === 'quiz'" class="quiz-screen">
  <h2>Question {{ currentQuestion + 1 }} / {{ questions.length }}</h2>

  <!-- GIF -->
  <div class="gif-container">
    <img [src]="questions[currentQuestion].gif" alt="GIF" class="gif-image" />
  </div>

  <p class="question-text">{{ questions[currentQuestion].text }}</p>

  <div *ngFor="let option of questions[currentQuestion].options">
    <!-- handleSelection just takes in the optionText selected, returns mapped letter to ans obj-->
    <!--updated ngStyle call to isSelected to questions[current].'ID' to display selected ans to user-->
    <button (click)="handleSelect(option)"
            [ngStyle]="{'background-color': isSelected(questions[currentQuestion].id, option) ? 'grey' : 'white'}"
            class="option-button">
      {{ option }}
    </button>
  </div>
</div>

<!-- COMPLETION SCREEN -->
<div *ngIf="viewStep === 'complete'" class="completion-screen">
  <div class="gif-container">
    <img src="assets/gifs/Complete.gif" alt="GIF" class="gif-image" />
  </div>
  <h2>All done! Ready to see your results?</h2>
  <button class="button" (click)="viewStep = 'result'">Show Results</button>
</div>

<!-- RESULTS SCREEN -->
<div *ngIf="viewStep === 'result'" class="results-screen">
  <app-info-card
    [personaName]="resultData.name"
    [traits]="resultData.traits"
    [leftTags]="resultData.leftTags"
    [rightTags]="resultData.rightTags"
    [imageUrl]="resultData.image"
    [resources]="resultData.resources"
    [compatibilities]="resultData.compatibilities"
    [cardColor]="resultData.cardColor"
    [tagColor]="FFD17D"
  ></app-info-card>
</div>
