<app-header></app-header>

<!-- START SCREEN -->
<div *ngIf="viewStep === 'start'" class="start-screen">
  <div class="gif-container">
    <img src="assets/gifs/Test.gif" alt="GIF" class="gif-image" />
  </div>
  <h2>It's Homecoming Weekend at the University of Missouri!</h2>
  <h2>Ready to start the day and discover your TigerTraits?</h2>
  <button class="button" (click)="viewStep = 'quiz'">Let's Do It!</button>
</div>

<!-- QUIZ SCREEN -->
<div *ngIf="viewStep === 'quiz'" class="quiz-screen">
  <h2>{{ currentQuestion + 1 }} / {{ questions.length }}</h2>

  <!-- GIF -->
  <div class="gif-container">
    <img [src]="questions[currentQuestion].gif" alt="GIF" class="gif-image" />
  </div>

  <p class="question-text">{{ questions[currentQuestion].text }}</p>

  <div *ngFor="let option of questions[currentQuestion].options">
    <!-- handleSelection just takes in the optionText selected, returns mapped letter to ans obj-->
    <!--updated ngStyle call to isSelected to questions[current].'ID' to display selected ans to user-->
    <button (click)="handleSelect(option)"
            [ngStyle]="{'background-color': isSelected(questions[currentQuestion].id, option) ? 'grey' : 'white'}"
            class="option-button">
      {{ option }}
    </button>
  </div>
</div>

<!-- COMPLETION SCREEN -->
<div *ngIf="viewStep === 'complete'" class="completion-screen">
  <div class="gif-container">
    <img src="assets/gifs/Test.gif" alt="GIF" class="gif-image" />
  </div>
  <h2>What a day! Ready to see your TigerTraits?</h2>
  <button class="button" (click)="viewStep = 'result'">Take Me There!</button>
</div>

<!-- RESULTS SCREEN -->
 <!--take note that tagColor is hard coded to hex #FFD17D 'gold tint 1', set back to resultData.tagColor if we want to change colors based on profile -->
<div *ngIf="viewStep === 'result'" class="results-screen">
  <h2>Your Tiger Trait: {{ result }}</h2>
  <app-info-card
    *ngIf="resultData"
    [personaName]="resultData.name"
    [traits]="resultData.traits"
    [leftTags]="resultData.leftTags"
    [rightTags]="resultData.rightTags"
    [imageUrl]="resultData.image"
    [resources]="resultData.resources"
    [compatibilities]="resultData.compatibilities"
    [cardColor]="resultData.cardColor"
    [tagColor]="FFD17D"
  ></app-info-card>
</div>
