<!-- <p>welcome works!</p>

<h1>TigerTraits</h1>
<p>Where you can turn your traits into connections!</p>
<img src="assets/gifs/Test.gif" class="welcome-gif" alt="welcome gif" />
<button class="start-button" (click)="proceedToForms()">Log In or Register to Continue</button>
<br>
<p class="description">Capstone Project, Spring 2025</p>
<p class="creator-credit">Made by Jenna, Sean, Kristyn, Quanah, and Hesub</p> -->

<!-- new code -->
<!-- <p>welcome works!</p> -->

<div class="page-wrapper">
    <h1 class="title">TigerTraits</h1>
    <p class="slogan">Where you can turn your traits into connections!</p>
    <img src="assets/gifs/Test.gif" class="top-image" alt="welcome animation" />
    <button class="start-button" (click)="proceedToForms()">Let's Get Started!</button>
    <br>
    <p class="description">Capstone Project, Spring 2025</p>
    <p class="creator-credit">Created by: Jenna, Sean, Kristyn, Quanah, and Hesub</p>
</div>
