.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Center everything */
.home-container, .quiz-container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Auth container (for login/register section) */
.auth-container {
  margin-bottom: 30px;
}

/* Button styling */
.button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
  color: #db2443;
  border: 3px solid #db2443;
  border-radius: 5px;
  margin: 10px;
}

.button:hover {
  background-color: #db2443;
  color: white;
}

/* Register text styling */
.register {
  color: #db2443;
  font-weight: 700;
  cursor: pointer;
}

/* Register Link */
.register {
  color: #db2443;
  cursor: pointer;
  font-weight: bold;
}