.results-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .results-image {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .results-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    color: #db2443;
    border: 3px solid #db2443;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
  }
  
  .button:hover {
    background-color: #db2443;
    color: white;
  }