<!-- <p>profile works!</p> -->

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- <app-header></app-header> -->
<div class="profile-container">
    <div class="profile-card">
        <h2 id="profile-name">Soba</h2>
        <img src="/assets/soba.JPG" alt="Profile Photo" class="profile-pic">
        <p class="bio">Hi, I'm Soba! I'm a 10 year old male cat. I like to eat, sleep, and look at things outside the window. I'm deathly scared of plastic grocery bags, so please never shake those around me.</p>

        <div class="profile-details">
            <div class="social-media">
                <h3>Connect with me!</h3>
                <a href="#" class="fa fa-instagram"></a>
                <!-- <a href="#" target="_blank"><img src="icons/instagram.png" alt="Instagram"></a> -->
                <a href="#" class="fa fa-facebook"></a>
                <!-- <a href="#" target="_blank"><img src="icons/facebook.png" alt="Facebook"></a> -->
                <a href="#" class="fa fa-linkedin"></a>
                <!-- <a href="#" target="_blank"><img src="icons/linkedin.png" alt="LinkedIn"></a> -->
            </div>

            <div class="tiger-trait">
                <h3>My TigerTrait</h3>
                <img id="tiger-trait-img" src="assets/personas/Truman’s Paw.png" alt="TigerTrait Persona">
            </div>
        </div>
    </div>
</div>
